@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    padding: 10px;
    background-color: #2A1932;
}
.btn-menu .fa-bars {
    color: #ffffff;
    font-size: xx-large;
}

@media only screen and (max-width:768px) {
    .btn-menu .fa-bars {
        color: #ffffff;
        font-size: x-large;
    }
}
