.main {
  height: 100vh;
  background-color: #2a1932;
}

.desktop-menu {
  display: none;
}

header {
  z-index: 20;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.btn-menu .fa-bars {
  display: block;
  font-size: larger;
  width: 14px;
  color: #ffffff;
}

.close-btn {
  display: block;
  font-size: larger;
  padding: 10px;
  width: 14px;
  color: #ffffff;
}

.hidden {
  display: none;
}

.menu-items {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  max-width: 300px;
  height: 100vh;
  background-color: #52284d;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 80;
}

.itens-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 0 10px 0 10px;
}

.itens-menu li {
  display: flex;
  gap: 2rem;
  text-align: left;
  font-size: larger;
  color: #fff;
  font-weight: 200;
}

.menu-items.active {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 70;
  display: none;
}

.overlay.active {
  display: block;
}

.code-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.5; /* Ajuste a opacidade para não competir com o conteúdo */
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 0.8rem;
  font-weight: 300;
}
