h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.main {
  height: 100vh;
  background-color: #2a1932;
}

.desktop-menu {
  display: none;
}

.code-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  opacity: 0.7; /* Ajuste a opacidade para não competir com o conteúdo */
}

.hero-content p {
  font-size: 0.8rem;
  font-weight: 300;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 20px;
  color: #2a1932;
}

#about-me h1 {
  text-align: center;
}

.content-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.content-about-me p {
  flex: 1;
  text-align: left;
  letter-spacing: 0.12rem;
  line-height: 1.5rem;
}

.content-about-me img {
  max-width: 250px;
  height: auto;
  border-radius: 10px;
}
