* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  background-color: #2a1932;
}

.btn-menu i {
  display: none;
}

.menu-items {
  display: none;
}